## Meriskill Data Analysis Internship

### Title of the project 1: “Sales Data Analysis”
### Purpose: Analyze sales data to identify trends, top-selling products, and revenue metrics for business decision-making.
### Description: In this project, you will dive into a large sales dataset to extract valuable insights. You will explore sales trends over time, identify the best-selling products, calculate revenue metrics such as total sales and profit margins, and create visualizations to present your findings effectively. This project showcases your ability to manipulate and derive insights from large datasets, enabling you to make data-driven recommendations for optimizing sales strategies.

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

sales = 'Sales.csv'

dataset = pd.read_csv(sales)
dataset

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12
...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6,2.99,Boston,19
185946,13618,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6,149.99,New York City,19
185947,13619,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18
185948,13620,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18
185949,13621,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        185950 non-null  int64
 1   Order ID          185950 non-null  int64
 2   Product           185950 non-null  object
 3   Quantity Ordered  185950 non-null  int64
 4   Price Each        185950 non-null  float64
 5   Order Date        185950 non-null  object
 6   Purchase Address  185950 non-null  object
 7   Month             185950 non-null  int64
 8   Sales             185950 non-null  float64
 9   City              185950 non-null  object
 10  Hour              185950 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 15.6+ MB

In [13]:
dataset.shape

(185950, 11)

In [64]:
dataset.describe()

,Unnamed: 0,Order ID,Quantity Ordered,Price Each,Month,Sales,Hour
count,185950.000000,185950.000000,185950.000000,185950.000000,185950.000000,185950.000000,185950.000000
mean,8340.388475,230417.569379,1.124383,184.399735,7.059140,185.490917,14.413305
std,5450.554093,51512.737110,0.442793,332.731330,3.502996,332.919771,5.423416
min,0.000000,141234.000000,1.000000,2.990000,1.000000,2.990000,0.000000
25%,3894.000000,185831.250000,1.000000,11.950000,4.000000,11.950000,11.000000
50%,7786.000000,230367.500000,1.000000,14.950000,7.000000,14.950000,15.000000
75%,11872.000000,275035.750000,1.000000,150.000000,10.000000,150.000000,19.000000
max,25116.000000,319670.000000,9.000000,1700.000000,12.000000,3400.000000,23.000000

In [55]:
# ID = dataset.sort_values(by=["Order ID", "Product", "Order Date"], ascending=True)
# ID

In [57]:
# sort by order id product price each order date
product = dataset.sort_values(by=["Order ID", "Product", "Price Each", "Order Date"], ascending=True)
product

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
136793,0,141234,iPhone,1,700.00,2019-01-22 21:25:00,"944 Walnut St, Boston, MA 02215",1,700.00,Boston,21
136794,1,141235,Lightning Charging Cable,1,14.95,2019-01-28 14:15:00,"185 Maple St, Portland, OR 97035",1,14.95,Portland,14
136795,2,141236,Wired Headphones,2,11.99,2019-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016",1,23.98,San Francisco,13
136796,3,141237,27in FHD Monitor,1,149.99,2019-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001",1,149.99,Los Angeles,20
136797,4,141238,Wired Headphones,1,11.99,2019-01-25 11:59:00,"387 10th St, Austin, TX 73301",1,11.99,Austin,11
...,...,...,...,...,...,...,...,...,...,...,...
24984,25112,319666,Lightning Charging Cable,1,14.95,2019-12-11 20:58:00,"14 Madison St, San Francisco, CA 94016",12,14.95,San Francisco,20
24985,25113,319667,AA Batteries (4-pack),2,3.84,2019-12-01 12:01:00,"549 Willow St, Los Angeles, CA 90001",12,7.68,Los Angeles,12
24986,25114,319668,Vareebadd Phone,1,400.00,2019-12-09 06:43:00,"273 Wilson St, Seattle, WA 98101",12,400.00,Seattle,6
24987,25115,319669,Wired Headphones,1,11.99,2019-12-03 10:39:00,"778 River St, Dallas, TX 75001",12,11.99,Dallas,10
24988,25116,319670,Bose SoundSport Headphones,1,99.99,2019-12-21 21:45:00,"747 Chestnut St, Los Angeles, CA 90001",12,99.99,Los Angeles,21

### EDA

In [70]:
# How many products for each product type? Quantity ordered? Sale price?
dataset[["Product", "Quantity Ordered", 'Price Each', "Sales"]].value_counts(ascending=True)

Product                     Quantity Ordered  Price Each  Sales
Apple Airpods Headphones    3                 150.00      450.00         1
USB-C Charging Cable        6                 11.95       71.70          1
                            5                 11.95       59.75          1
Bose SoundSport Headphones  3                 99.99       299.97         2
AA Batteries (4-pack)       7                 3.84        26.88          2
ThinkPad Laptop             2                 999.99      1999.98        2
AAA Batteries (4-pack)      9                 2.99        26.91          3
Vareebadd Phone             2                 400.00      800.00         3
Macbook Pro Laptop          2                 1700.00     3400.00        4
AAA Batteries (4-pack)      8                 2.99        23.92          5
Google Phone                2                 600.00      1200.00        7
Lightning Charging Cable    4                 14.95       59.80          7
iPhone                      2                 700.00      1400.00        7
USB-C Charging Cable        4                 11.95       47.80         12
Wired Headphones            4                 11.99       47.96         13
27in 4K Gaming Monitor      2                 389.99      779.98        14
AA Batteries (4-pack)       6                 3.84        23.04         16
34in Ultrawide Monitor      2                 379.99      759.98        18
Flatscreen TV               2                 300.00      600.00        19
AAA Batteries (4-pack)      7                 2.99        20.93         22
20in Monitor                2                 109.99      219.98        28
27in FHD Monitor            2                 149.99      299.98        43
AAA Batteries (4-pack)      6                 2.99        17.94         63
AA Batteries (4-pack)       5                 3.84        19.20         69
Lightning Charging Cable    3                 14.95       44.85         97
Apple Airpods Headphones    2                 150.00      300.00       110
Wired Headphones            3                 11.99       35.97        128
Bose SoundSport Headphones  2                 99.99       199.98       128
USB-C Charging Cable        3                 11.95       35.85        157
AAA Batteries (4-pack)      5                 2.99        14.95        166
AA Batteries (4-pack)       4                 3.84        15.36        250
AAA Batteries (4-pack)      4                 2.99        11.96        524
LG Dryer                    1                 600.00      600.00       646
LG Washing Machine          1                 600.00      600.00       666
AA Batteries (4-pack)       3                 3.84        11.52       1033
Lightning Charging Cable    2                 14.95       29.90       1344
Wired Headphones            2                 11.99       23.98       1380
AAA Batteries (4-pack)      3                 2.99        8.97        1502
USB-C Charging Cable        2                 11.95       23.90       1713
Vareebadd Phone             1                 400.00      400.00      2062
AA Batteries (4-pack)       2                 3.84        7.68        3874
20in Monitor                1                 109.99      109.99      4073
ThinkPad Laptop             1                 999.99      999.99      4126
AAA Batteries (4-pack)      2                 2.99        5.98        4630
Macbook Pro Laptop          1                 1700.00     1700.00     4720
Flatscreen TV               1                 300.00      300.00      4781
Google Phone                1                 600.00      600.00      5518
34in Ultrawide Monitor      1                 379.99      379.99      6163
27in 4K Gaming Monitor      1                 389.99      389.99      6216
iPhone                      1                 700.00      700.00      6835
27in FHD Monitor            1                 149.99      149.99      7464
Bose SoundSport Headphones  1                 99.99       99.99      13195
AAA Batteries (4-pack)      1                 2.99        2.99       13726
AA Batteries (4-pack)       1                 3.84        3.84       15333
Apple Airpods Headphones    1                 150.00      150.00     15438
Wired Headphones            1                 11.99       11.99      17361
USB-C Charging Cable        1                 11.95       11.95      20019
Lightning Charging Cable    1                 14.95       14.95      20210
Name: count, dtype: int64

In [71]:
# How many products for each product type? Quantity ordered? Sale price?
dataset[["Product", "Quantity Ordered", 'Price Each', "Sales"]].value_counts()

Product                     Quantity Ordered  Price Each  Sales
Lightning Charging Cable    1                 14.95       14.95      20210
USB-C Charging Cable        1                 11.95       11.95      20019
Wired Headphones            1                 11.99       11.99      17361
Apple Airpods Headphones    1                 150.00      150.00     15438
AA Batteries (4-pack)       1                 3.84        3.84       15333
AAA Batteries (4-pack)      1                 2.99        2.99       13726
Bose SoundSport Headphones  1                 99.99       99.99      13195
27in FHD Monitor            1                 149.99      149.99      7464
iPhone                      1                 700.00      700.00      6835
27in 4K Gaming Monitor      1                 389.99      389.99      6216
34in Ultrawide Monitor      1                 379.99      379.99      6163
Google Phone                1                 600.00      600.00      5518
Flatscreen TV               1                 300.00      300.00      4781
Macbook Pro Laptop          1                 1700.00     1700.00     4720
AAA Batteries (4-pack)      2                 2.99        5.98        4630
ThinkPad Laptop             1                 999.99      999.99      4126
20in Monitor                1                 109.99      109.99      4073
AA Batteries (4-pack)       2                 3.84        7.68        3874
Vareebadd Phone             1                 400.00      400.00      2062
USB-C Charging Cable        2                 11.95       23.90       1713
AAA Batteries (4-pack)      3                 2.99        8.97        1502
Wired Headphones            2                 11.99       23.98       1380
Lightning Charging Cable    2                 14.95       29.90       1344
AA Batteries (4-pack)       3                 3.84        11.52       1033
LG Washing Machine          1                 600.00      600.00       666
LG Dryer                    1                 600.00      600.00       646
AAA Batteries (4-pack)      4                 2.99        11.96        524
AA Batteries (4-pack)       4                 3.84        15.36        250
AAA Batteries (4-pack)      5                 2.99        14.95        166
USB-C Charging Cable        3                 11.95       35.85        157
Bose SoundSport Headphones  2                 99.99       199.98       128
Wired Headphones            3                 11.99       35.97        128
Apple Airpods Headphones    2                 150.00      300.00       110
Lightning Charging Cable    3                 14.95       44.85         97
AA Batteries (4-pack)       5                 3.84        19.20         69
AAA Batteries (4-pack)      6                 2.99        17.94         63
27in FHD Monitor            2                 149.99      299.98        43
20in Monitor                2                 109.99      219.98        28
AAA Batteries (4-pack)      7                 2.99        20.93         22
Flatscreen TV               2                 300.00      600.00        19
34in Ultrawide Monitor      2                 379.99      759.98        18
AA Batteries (4-pack)       6                 3.84        23.04         16
27in 4K Gaming Monitor      2                 389.99      779.98        14
Wired Headphones            4                 11.99       47.96         13
USB-C Charging Cable        4                 11.95       47.80         12
iPhone                      2                 700.00      1400.00        7
Lightning Charging Cable    4                 14.95       59.80          7
Google Phone                2                 600.00      1200.00        7
AAA Batteries (4-pack)      8                 2.99        23.92          5
Macbook Pro Laptop          2                 1700.00     3400.00        4
Vareebadd Phone             2                 400.00      800.00         3
AAA Batteries (4-pack)      9                 2.99        26.91          3
ThinkPad Laptop             2                 999.99      1999.98        2
AA Batteries (4-pack)       7                 3.84        26.88          2
Bose SoundSport Headphones  3                 99.99       299.97         2
USB-C Charging Cable        5                 11.95       59.75          1
                            6                 11.95       71.70          1
Apple Airpods Headphones    3                 150.00      450.00         1
Name: count, dtype: int64