## Meriskill Data Analysis Internship

### Title of the project 1: “Sales Data Analysis”
### Purpose: Analyze sales data to identify trends, top-selling products, and revenue metrics for business decision-making.
### Description: In this project, you will dive into a large sales dataset to extract valuable insights. You will explore sales trends over time, identify the best-selling products, calculate revenue metrics such as total sales and profit margins, and create visualizations to present your findings effectively. This project showcases your ability to manipulate and derive insights from large datasets, enabling you to make data-driven recommendations for optimizing sales strategies.

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

sales = 'Sales.csv'

dataset = pd.read_csv(sales)
dataset

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
0,0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0
1,1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7
2,2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18
3,3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15
4,4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12
...,...,...,...,...,...,...,...,...,...,...,...
185945,13617,222905,AAA Batteries (4-pack),1,2.99,2019-06-07 19:02:00,"795 Pine St, Boston, MA 02215",6,2.99,Boston,19
185946,13618,222906,27in FHD Monitor,1,149.99,2019-06-01 19:29:00,"495 North St, New York City, NY 10001",6,149.99,New York City,19
185947,13619,222907,USB-C Charging Cable,1,11.95,2019-06-22 18:57:00,"319 Ridge St, San Francisco, CA 94016",6,11.95,San Francisco,18
185948,13620,222908,USB-C Charging Cable,1,11.95,2019-06-26 18:35:00,"916 Main St, San Francisco, CA 94016",6,11.95,San Francisco,18
185949,13621,222909,AAA Batteries (4-pack),1,2.99,2019-06-25 14:33:00,"209 11th St, Atlanta, GA 30301",6,2.99,Atlanta,14

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        185950 non-null  int64
 1   Order ID          185950 non-null  int64
 2   Product           185950 non-null  object
 3   Quantity Ordered  185950 non-null  int64
 4   Price Each        185950 non-null  float64
 5   Order Date        185950 non-null  object
 6   Purchase Address  185950 non-null  object
 7   Month             185950 non-null  int64
 8   Sales             185950 non-null  float64
 9   City              185950 non-null  object
 10  Hour              185950 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 15.6+ MB

In [13]:
dataset.shape

(185950, 11)

In [14]:
dataset.describe

<bound method NDFrame.describe of         Unnamed: 0  Order ID                 Product  Quantity Ordered  \
0                0    295665      Macbook Pro Laptop                 1
1                1    295666      LG Washing Machine                 1
2                2    295667    USB-C Charging Cable                 1
3                3    295668        27in FHD Monitor                 1
4                4    295669    USB-C Charging Cable                 1
...            ...       ...                     ...               ...
185945       13617    222905  AAA Batteries (4-pack)                 1
185946       13618    222906        27in FHD Monitor                 1
185947       13619    222907    USB-C Charging Cable                 1
185948       13620    222908    USB-C Charging Cable                 1
185949       13621    222909  AAA Batteries (4-pack)                 1

        Price Each           Order Date  \
0          1700.00  2019-12-30 00:01:00
1           600.00  2019-12-29 07:03:00
2            11.95  2019-12-12 18:21:00
3           149.99  2019-12-22 15:13:00
4            11.95  2019-12-18 12:38:00
...            ...                  ...
185945        2.99  2019-06-07 19:02:00
185946      149.99  2019-06-01 19:29:00
185947       11.95  2019-06-22 18:57:00
185948       11.95  2019-06-26 18:35:00
185949        2.99  2019-06-25 14:33:00

                              Purchase Address  Month    Sales  \
0       136 Church St, New York City, NY 10001     12  1700.00
1          562 2nd St, New York City, NY 10001     12   600.00
2         277 Main St, New York City, NY 10001     12    11.95
3          410 6th St, San Francisco, CA 94016     12   149.99
4                43 Hill St, Atlanta, GA 30301     12    11.95
...                                        ...    ...      ...
185945           795 Pine St, Boston, MA 02215      6     2.99
185946   495 North St, New York City, NY 10001      6   149.99
185947   319 Ridge St, San Francisco, CA 94016      6    11.95
185948    916 Main St, San Francisco, CA 94016      6    11.95
185949          209 11th St, Atlanta, GA 30301      6     2.99

                  City  Hour
0        New York City     0
1        New York City     7
2        New York City    18
3        San Francisco    15
4              Atlanta    12
...                ...   ...
185945          Boston    19
185946   New York City    19
185947   San Francisco    18
185948   San Francisco    18
185949         Atlanta    14

[185950 rows x 11 columns]>

In [55]:
# ID = dataset.sort_values(by=["Order ID", "Product", "Order Date"], ascending=True)
# ID

In [57]:
# sort by order id product price each order date
product = dataset.sort_values(by=["Order ID", "Product", "Price Each", "Order Date"], ascending=True)
product

,Unnamed: 0,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour
136793,0,141234,iPhone,1,700.00,2019-01-22 21:25:00,"944 Walnut St, Boston, MA 02215",1,700.00,Boston,21
136794,1,141235,Lightning Charging Cable,1,14.95,2019-01-28 14:15:00,"185 Maple St, Portland, OR 97035",1,14.95,Portland,14
136795,2,141236,Wired Headphones,2,11.99,2019-01-17 13:33:00,"538 Adams St, San Francisco, CA 94016",1,23.98,San Francisco,13
136796,3,141237,27in FHD Monitor,1,149.99,2019-01-05 20:33:00,"738 10th St, Los Angeles, CA 90001",1,149.99,Los Angeles,20
136797,4,141238,Wired Headphones,1,11.99,2019-01-25 11:59:00,"387 10th St, Austin, TX 73301",1,11.99,Austin,11
...,...,...,...,...,...,...,...,...,...,...,...
24984,25112,319666,Lightning Charging Cable,1,14.95,2019-12-11 20:58:00,"14 Madison St, San Francisco, CA 94016",12,14.95,San Francisco,20
24985,25113,319667,AA Batteries (4-pack),2,3.84,2019-12-01 12:01:00,"549 Willow St, Los Angeles, CA 90001",12,7.68,Los Angeles,12
24986,25114,319668,Vareebadd Phone,1,400.00,2019-12-09 06:43:00,"273 Wilson St, Seattle, WA 98101",12,400.00,Seattle,6
24987,25115,319669,Wired Headphones,1,11.99,2019-12-03 10:39:00,"778 River St, Dallas, TX 75001",12,11.99,Dallas,10
24988,25116,319670,Bose SoundSport Headphones,1,99.99,2019-12-21 21:45:00,"747 Chestnut St, Los Angeles, CA 90001",12,99.99,Los Angeles,21